# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Coverage
.coverage
coverage.xml

#tox
.tox/*

#pytest
.pytest_cache/*

# Misc
.idea/*
dist/*
src/thug_memes.egg-info/*
.cache/*
*.DS_Store
.eggs/*
